* {
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #191919; */
    background: linear-gradient(to right, #0B0C10, #1F2833)
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 25px;
}

.background-body {
    background: linear-gradient(to right #1F2833, #0B0C10)
}

.bio {
    text-align: center; 
    color: silver; 
    margin: 20px;
}

.main-header {
    text-align: center;
    background: linear-gradient(to left, #1F2833, #1F2833 50%, #0B0C10 75%, #0B0C10 75%);
    padding: 30px;
    text-shadow: #45a29e 1px 0 10px;
}

.second-header, .third-header {
    text-align: center;
    margin: 20px;
    color: silver;
}

.banner {
    text-align: center;
}


.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #1F2833; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }  


.sidenav a:hover {
    color: #f1f1f1;
  }

.links {
    text-align: center;
    display: inline-block;
}

.image {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inline-block {
    text-align: center;
    display: inline-block;
    padding: 35px;
    color: silver;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 60%;
    border: 3px  white;
    transition: all .5s;
    transition-timing-function: linear;
  }

  .profile-image:hover {
    transform: scale(1.2) rotate(360deg);
  }

  .inline-block:hover {
    transform: scale(1.2) rotate(360deg);
    transition: all .5s;
}

.links:hover {
    transform: scale(1.2) rotate(360deg);
    transition: all .5s;
}